---
import { CollectionEntry, getCollection } from 'astro:content';
import Topic from '../../layouts/Topic.astro';

export async function getStaticPaths() {
	const posts = await getCollection('topic');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'topic'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Topic {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</Topic>
