---
import InputBar from "../components/InputBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="History">
        <div class="sticky top-0">
            <InputBar />
        </div>
        <div class="flex gap-8 bg-purplebg ml-16 lg:ml-60 h-full">
            <!-- <ListVideo /> -->
        </div>
</Layout>