---
import InputBar from "../components/InputBar.astro";
import ListVideo from "../components/ListVideo.astro";
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.astro";
---

<Layout title="Main Page">
        <div class="sticky top-0">
            <InputBar />
        </div>
        <div class="flex gap-8 bg-purplebg ml-16 lg:ml-60 h-full">
            <ListVideo />
        </div>
</Layout>