---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import InputBar from "../components/InputBar.astro";
const posts = (await getCollection('topic'))
---

<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<Layout title="More">
    <InputBar />
    <section class="bg-purplebg" style="height: 100vh;">
        <div class="flex flex-wrap justify-center">
            {
                posts.map((post) => (
                    <a href={`/topic/${post.slug}`} class="flex items-center justify-center transition duration-200 w-44 h-44 space-x-1 rounded-md px-2 py-3 text-darkgray hover:bg-lightpurple hover:text-grayone">
                        <span class="text-4xl"><i class={post.data.class}></i></span>
                        <span class="hidden md:block">
                            {post.data.title}
                        </span>
                    </a>
                ))
            }
        </div>
    </section>
</Layout>