---
import Input from "./Input.astro";
import ProfileMenu from "./ProfileMenu.astro";

const myValue = localStorage.getItem('myValue');
---

<!-- <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" /> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<!-- component -->
<nav class=" bg-purplebg w-full flex relative justify-between items-center mx-auto px-8 h-20 border-b-2 border-pink z-20">
    <!-- logo -->
    <div class="inline-flex">
        <a class="_o6689fn" href="/main">
            <img src="https://assets.website-files.com/6316e54af668118fc75d7074/631891f72ba65393139b2a1d_logo-ns-white.svg" loading="lazy" alt="new story">  
        </a>
    </div>

    <!-- end logo -->

    <!-- search bar -->
    <div class="hidden sm:block flex-shrink flex-grow-0 justify-start px-2">
        <div class="inline-block">
            <div class="inline-flex items-center max-w-full">
                    <Input />
            </div>
        </div>
    </div>
    <!-- end search bar -->

    <!-- login -->
    <div class="flex-initial">
      <div class="flex justify-end items-center relative gap-2">
<!-- 
        <div class="block lg:hidden">
            <button type="button" id="dropdownDefaultButton" data-dropdown-toggle="dropdown">
                <a><i class='bx bx-search text-2xl cursor-pointer text-lightpink hover:text-darkgray align-middle'></i></a>
            </button>
        </div>

        <div id="dropdown" aria-labelledby="dropdownDefaultButton" class="hidden">
            <input placeholder="Search" class="bg-darkpurple w-full text-white absolute right-20 top-0">
        </div> -->

        <div class="block">
            <div class="inline relative">
                <div>
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" type="button" class="inline-flex items-center transition duration-300 relative px-2 text-pink rounded-md hover:text-darkpurple hover:bg-pink">
                        <span>
                            <a class="text-3xl"><i class='bx bx-menu'></i></a>
                        </span>
                        <span>
                            <a class="text-3xl"><i class='bx bx-user-circle'></i></a>
                        </span>
                    </button>
                 
                    <div id="dropdownHover" class="hidden">
                        <div>
                            <ProfileMenu />
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="flex mr-2 items-center gap-2">
          <a class="inline-block py-2 px-3 transition duration-300 text-purplebg bg-pink border-pink border-2 hover:bg-purplebg rounded-md hover:text-pink" href="/">
            <div class="flex items-center relative cursor-pointer whitespace-nowrap">Sign In</div>
          </a>
          <div class="block relative">
            <button type="button" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="inline-block transition duration-300 text-pink p-1.5 hover:bg-pink hover:text-purplebg rounded-full relative ">
              <div class="flex items-center h-5">
                <div>
                    <span>
                        <a class="text-2xl"><i class='bx bx-world'></i></a>
                    </span>
                    <span>
                        <a class="text-2xl"><i class='bx bx-chevron-down'></i></a>
                    </span>
                </div>
              </div>
            </button>

            <div id="dropdown" class="z-10 hidden bg-darkpurple divide-y divide-gray-100 rounded-lg shadow w-32 dark:bg-gray-700">
                <ul class="py-3 px-2 text-sm text-darkgray dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 hover:text-pink dark:hover:bg-gray-600 dark:hover:text-white">Dutch</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 rounded-lg hover:bg-gray-100 hover:text-pink dark:hover:bg-gray-600 dark:hover:text-white">French</a>
                    </li>
                  </ul>
            </div>
            </div>
          </div>
        </div>
    </div>
<!-- end login -->
<!-- <script>
        function consoleLocalStrg() {
        const myValue = localStorage.getItem('myValue');
        console.log(myValue);
        }
        let getButton = document.getElementById('bttn')!;
        getButton.addEventListener('click', consoleLocalStrg)
</script> -->
</nav>