---

// const { type, placeholder } = Astro.props;
---

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />

<label class="bg-darkpurple relative block overflow-hidden rounded-md border border-darkgray p-2 shadow-sm focus-within:border-pink focus-within:ring-1 focus-within:ring-pink">
  <input type="text" id="searchBar" placeholder="Search" class="peer h-6 w-64 md:w-96 border-none text-white bg-transparent placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm placeholder:text-white" />
  <a><i class='bx bx-search text-2xl cursor-pointer text-white align-middle'></i></a>
</label>
<script>
