---
// export interface Props {
// 	type: string;
// 	placeholder: string;
// }

const { type, placeholder } = Astro.props;
---

<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div>
	<input 
		type={type} 
		placeholder={placeholder} 
	>
	<button class="font-medium text-pink text-xl"><i class='bx bx-search'></i></button>
</div>

<style>
	input {
		width: 320px;
		height: 40px;
		color: #fff;
		border-radius: 10px;
		border-style: none;
		background-color: #260029;
		padding-left: 1rem;
		caret-color: #fff;
	}
	input::placeholder {
		color: #fff;
	}
	input:focus {
		border: solid 1px #cc00cc;
		outline: none;
	}
</style>
