---

const json = await fetch('http://127.0.0.1:3000/src/json/topic.json').then((response) =>
  response.json()
);

const topicData = json.topic

const sliceData = topicData.slice(0, 4)
---

<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div class="flex border-r-2 border-pink">
    <aside class="flex w-22 md:w-52 flex-col space-y-2 bg-purplebg p-2" style="height: 100vh"
    x-show="asideOpen">
    <a href="/main" class="flex items-center text-darkgray space-x-1 rounded-md px-2 py-3 hover:bg-lightpurple hover:text-pink">
        <span class="text-2xl"><i class="bx bx-home"></i></span>
        <span class="hidden md:block">Dashboard</span>
    </a>

    <a href="/history" class="flex items-center text-darkgray space-x-1 rounded-md px-2 py-3 hover:bg-lightpurple hover:text-pink">
        <span class="text-2xl"><i class="bx bx-history"></i></span>
        <span class="hidden md:block">History</span>
    </a>

    <a href="/myfavourite" class="flex items-center text-darkgray space-x-1 rounded-md px-2 py-3 hover:bg-lightpurple hover:text-pink">
        <span class="text-2xl"><i class='bx bx-bookmark'></i></span>
        <span class="hidden md:block">Saved</span>
    </a>

    <a href="/profile" class="flex items-center text-darkgray space-x-1 rounded-md px-2 py-3 hover:bg-lightpurple hover:text-pink">
        <span class="text-2xl"><i class="bx bx-user"></i></span>
        <span class="hidden md:block">Profile</span>
    </a>

    <div class="border-t-2 border-pink">
    {
        sliceData.map((topic: { slug: any; class: string | null | undefined; title: unknown; }) => (
            <a href={`/topic/${topic.slug}`} class="flex items-center space-x-1 rounded-md px-2 py-3 text-darkgray hover:bg-lightpurple hover:text-pink">
                <span class="text-2xl"><i class={topic.class}></i></span>
                <span class="hidden md:block">
                    {topic.title}
                </span>
            </a>
        ))
    }
                <a href='/more' class="flex items-center space-x-1 rounded-md mt-2 px-2 py-3 text-darkgray hover:bg-lightpurple hover:text-pink">
                    <span class="text-2xl"><i class='bx bx-dots-horizontal-rounded'></i></span>
                    <span class="hidden md:block">
                        More
                    </span>
                </a>
    </div>
</aside>
</div>