---
import type { Props } from 'astro';
import BlogPost from '../../layouts/BlogPost.astro';

// const json = await fetch('http://127.0.0.1:3000/src/json/data.json').then((response) =>
//   response.json()
// );

const response = await fetch('http://127.0.0.1:3000/src/json/data.json');
const data = await response.json();

const videoData = data.videos;
export async function getStaticPaths() {
	return videoData.map((video: { slug: string; heroimg: string | null | undefined; icon: string | null | undefined; title: unknown; chanel: unknown; views: unknown; time: unknown; }) => ({
		params: { slug: video.slug },
		props: video.title,
	}));
}

const title = Astro.props

---

<html>
	<body>
		<h1>{title}</h1>
	</body>
</html>

<!-- {
	videoData.map((video: any) => (
		<BlogPost {...video}>
			{
			    <h1>{title}</h1>
			}
		</BlogPost>

	))
} -->